<!DOCTYPE html>
<html>
<head>
    <title>D-Day Tour</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="header">
        <div class="main">
            <h1>AgustD DMF</h1>
            <img src="/img/logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </header>
    {{{body}}}
    <footer>
        <p>&copy; 2023 D-Day Tour</p>
    </footer>
</body>
</html>