 <div class="product">
    {{#each news}}
      <div class="home">
        <img src="{{image}}" alt="">
        <a class="name" href="#"> Nature Haven Retreat</a>
        {{!-- <a>{{name}}</a> --}}
        <p class="price">Price: $40</p>
      </div>
    {{/each}}
  
  </div>